@charset "UTF-8";

* {
    color: #222;
    font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* 배경색 필요할 경우 사용함
    body {
        
    }
*/

a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #222;
}

a:hover {
    color: #222;
}

a:active {
    color: #222;
}

ul {
    list-style: none;
}

.dFlex {
    display: flex;
}
button{
	cursor: pointer;
}

select {
	padding: 0 5px;
}

.select-group {
	position: relative;
}

.select-group::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 7px;
	transform: rotate(-45deg);
	width: 5px;
	height: 5px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
}
.select-group select{
	appearance: none;
}