@charset "UTF-8";

/* 약관동의 영역 시작 */

#termsArea {
	padding-left: 20px;
	width: 800px;
	margin: 20px auto;
}

#termsArea > div.termsRow span.chkAllTxt {
	font-weight: bold;
	font-size: 20px;
}

.termsRow {
	padding: 10px;
}

.termsRow label:hover {
	cursor: pointer;
}

.req {
	margin-left: 5px;
	font-size: 13px;
	color : red;
}

.termsOption {
	margin-left: 5px;
	font-size: 13px;
	color : blue;
}

iframe.termsTxt {
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;
	width: 95%;
}

pre.termsTxtInner {
	width: 100%;
}

#termsBtnArea {
	height: 60px;
	margin: -15px auto;
	width: 50%;
	text-align: center;
}

#termsBtnArea button {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	height: 100%;
	width: 40%;
}

#termsBtnArea button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

#termsBtnArea button:first-child:hover {
	background: #444;
}

#termsBtnArea button:last-child {
	border: 1px solid #aaa;
}

#termsBtnArea button:last-child:hover {
	border: 1px solid #ccc;
}

.checked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/checked.png) no-repeat;
	background-size: 25px 25px;
}

.unchecked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/unchecked.png) no-repeat;
	background-size: 25px 25px;
}

.checkDefault::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/checkDefault.png) no-repeat;
	background-size: 25px 25px;
}

span.smallFont {
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

/* 약관동의 영역 끝*/


/* 회원가입 영역 시작 */
#joinArea {
	margin: 20px auto;
	width: 600px;
}

#joinArea > div.joinRow {
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 80%;
}

#joinArea > .joinRow > span {
	width: 100%;
	display: inline-block;
}

span.joinTitle {
	font-size: 21px;
}

p#pwChkMsg {
	margin-top: 7px;
	padding-left: 10px;
	color: red;
}

div#idChkRes {
	margin-top: 7px;
	padding-left: 10px;
}

#joinArea > .joinRow>input {
	font-size: 18px;
	padding: 10px;
	height: 49px;
	width: 100%;
}

#joinArea > div.joinRow>input#uZipcode {
	width: 72%;
	transform: translateY(-1px);
}

#joinArea > .joinRow>input::placeholder {
	font-size: 18px;
}

div#genderArea label{
	font-size: 18px;
	display: inline-block;
	width: 200px;
	height: 40px;
}

div#genderArea label:hover {
	cursor: pointer;
}

.genderChecked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(/images/radioChecked.png) no-repeat;
	background-size: 30px 30px;
}

.genderUnchecked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(/images/radioUnchecked.png) no-repeat;
	background-size: 30px 30px;
}


radio:fisrt-child {
	margin-right: 20px;
}

#joinArea > div.joinRow>button#zipChk {
	font-size: 16px;
	padding: 10px;
	height: 50px;
	margin: 0 0 3px 6px;
	background: #333;
	border: none;
	color: #fff;
}

input#addr1, input#addr2 {
	width: 80%;	
}


.joinRow span.joinTitle {
	padding: 5px;
	font-weight: bold;
	width: 20%;
	text-align-last: left;
	display: inline-block;
}

.joinRow:last-child {
	padding-top: 20px;
	text-align: center;
}

.joinRow:last-child button {
	font-size: 20px;
	padding: 20px 10px;
	font-weight: bold;
	width: 45%;
}

.joinRow:last-child button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

.joinRow:last-child button:first-child:hover {
	background: #444;
}

.joinRow:last-child button:last-child {
	border: 1px solid #aaa;
}

.joinRow:last-child button:last-child:hover {
	border: 1px solid #ccc;
}

div.joinOkBtnArea {
	text-align: center;
}

div.joinOkBtnArea a {
	padding: 15px;
	margin: 0 15px;
	font-size: 16px;
	height: 50px;
	width: 70px;
	background: #333;
	border: none;
	color: #fff;
}

/* 회원가입 영역 끝 */

/* 우편번호 검색 영역 시작 */

div#findArea input {
	font-size: 18px;
	padding: 10px;
	height: 33px;
	width: 40%;
	margin-right: 5px;
	border: none;
	border-bottom: 1px solid #222;
}

div#findArea button {
	font-size: 16px;
	height: 33px;
	width: 66px;
	background: #333;
	border: none;
	color: #fff;
}


div#findresArea {
	margin-top: 20px;
	padding: 10px;
	border: 2px solid #aaa;
	line-height: 25px;
}

div.addrList {
	font-size: 18px;
	padding-bottom: 10px;
}

div#findresArea hr {
	margin: 2px 0 5px 0;
}

div.resMsg {
	text-align: center;
}

div#findresArea a {
	padding: 5px 0;
}
div#findresArea a:hover {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
}

/* 우편번호 검색 영역 끝 */

/* 로그인 영역 시작 */

div#loginArea {
	margin: 0 auto 20px;
	justify-content: center;
}

#loginArea > div#idPwArea input {
	font-size: 16px;
	padding: 10px;
	height: 50px;
	width: 250px;
	margin: 5px;
}

#loginArea > div#loginBtnArea button {
	font-size: 18px;
	padding: 10px;
	height: 92%;
	width: 120px;
	margin: 5px;
	background: #333;
	border: none;
	color: #fff;
}
.login-desc{
	width: 500px;
	margin: 0 auto;	
}
#utilArea {
	text-align: center;
}
.login-desc #utilArea li{
	position: relative;
	display: inline-block;
}
.login-desc #utilArea li:not(:last-child){
	padding-right: 20px;	
	margin-right: 20px;
}
.login-desc #utilArea li:not(:last-child)::after{
	content:"";
	display: block;
	position: absolute;
	top: 6px;
	right: 0;
	width: 1px;
	height: 15px;
	background: #222;
}

div.otherLoginArea {
	margin-top: 20px;
	justify-content : center;
	padding: 10px;
}

div.otherLoginArea > div.otherLoginBtn {
	border: 1px solid #aaa;
	border-radius: 35px;
	padding: 11px;
	height: 70px;
	width: 70px;
	margin: 0 10px;
}

div.otherLoginArea > div.otherLoginBtn img {
	width: 48px;
	height: 48px;
}



/* 로그인 영역 끝 */

/* 마이페이지 영역 시작 */

div.mypageInner {
	margin-top: 40px;
}

div.mypageInner > aside {
	padding: 10px;
	margin: 10px 0 0 10px;
}

div.mypageInner > div.mypageArea {
	padding: 10px;
	margin: 10px auto;
	width: 60%;
}

div.mypageInner > aside > div.mypageMenu {
	border: none;
	height: 50px;
	margin-bottom: 15px;
}

div.mypageInner > aside > div.mypageMenu > a{
	display: inline-block;
	border-radius: 15px;
	padding: 15px 30px;
	width: 100%;
	height: 100%;
}

div.mypageInner > aside > div.mypageMenu > a:hover {
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
	font-weight: bold;
}

.mypageMenuOn {
	background-color: #e1e1e1;
	font-weight: bold;
}

.mypageArea {
	margin: 20px auto;
}

.mypageTit > h1 {
	margin-bottom: 20px;
}

.modifyRow , .mypageRow {
	margin-bottom: 10px;
}

.mypageRow .mypageVal .mypageWishList {
	width: 20%;
	margin: 0 10px;
}

.mypageRow .mypageVal .wishSwiper {
	padding: 5px 25px;
	border: 1px solid #222;
}

.mypageRow .mypageVal .mypageWishList img {
	width: 100%;
}


.modifyRow > div , .mypageRow > div {
	width: 60%;
}

.mypageArea div.modifyRow input , .mypageRow input {
	font-size: 18px;
	padding: 10px;
	height: 50%;
	width: 80%;
}

.mypageArea .mypageRow .mypageVal input {
	width: 100%;
}

div.modifyBtnArea, div.modifyVal , .mypageVal:not(:last-child) {
	display: inline;
}

div.modifyPwTitle {
	padding: 10px;
}

.modifyRow .modifyBtnArea button {
	font-size: 15px;
	width: 10%;
	height: 46px;
	margin-left: 10px;
	background: #333;
	border: none;
	color: #fff;
}

.mypageArea div.modifyRow input#uZipcode {
	width: 58%;
}

.mypageArea div.modifyRow button#zipChk {
	width: 20%;
}

.modifyRow .modifyTitle , .mypageTitle {
	font-size: 19px;
	padding: 10px;
	font-weight: bold;
	text-align-last: left;
}

div#changeAddr >modify.Row > input#uZipcode {
	width: 40%;
}

.modifyFinal {
	margin: 20px auto;
	text-align: center;
}

.modifyFinal button {
	font-size: 20px;
	padding: 10px 10px;
	font-weight: bold;
	width: 25%;
}

.modifyFinal button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

.modifyFinal button:first-child:hover {
	background: #444;
}

.modifyFinal button:last-child {
	border: 1px solid #aaa;
}

.modifyFinal button:last-child:hover {
	border: 1px solid #ccc;
}

div#modifyChkArea input, div#withdrawChkArea input {
	font-size: 18px;
	padding: 10px;
	height: 45px;
	width: 300px;
}

div#modifyChkArea button, div#withdrawChkArea button {
	font-size: 15px;
	width: 10%;
	height: 46px;
	margin-left: 10px;
	background: #333;
	border: none;
	color: #fff;
}

div.withdrawChkMsg {
	margin-bottom: 15px;
}

div.withdrawTxt {
	background-color: #eee;
	padding: 15px;
	line-height: 30px;
	margin-bottom: 20px;
}

div.withdrawTxt > h3 {
	margin-bottom: 15px;
}

div.withdrawTxt li {
	list-style-position: inside;
}

div.withdrawTxt li::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -5px;
	left: -3px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background-color: #666;
}

div.withdrawTxt hr {
	margin: 20px 0;
}

div#withdrawBtnArea {
	text-align: center;
}

#withdrawBtnArea button {
	font-size: 16px;
	padding: 20px 10px;
	font-weight: bold;
	width: 18%;
}

#withdrawBtnArea button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

#withdrawBtnArea button:first-child:hover {
	background: #444;
}

#withdrawBtnArea button:last-child {
	border: 1px solid #aaa;
}

#withdrawBtnArea button:last-child:hover {
	border: 1px solid #ccc;
}


/* 마이페이지 영역 끝 */


/* 아이디 / 비밀번호 찾기 영역 시작 */

.findIdPwArea {
	padding: 10px;
	margin: 10px auto;
	width: 60%;
}

.findIdPwRow {
	padding: 10px;
	margin: 20px auto;
	border: 1px solid #aaa;
	width: 60%;
}

.howToFind {
	font-size: 19px;
}

.findIdPwRow label {
	padding: 10px;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.findIdPwRow label:hover {
	cursor: pointer;
}

.findIdPwRow input[type=text] {
	margin-top: 15px;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	display: block;
}

.idFindBtnArea button , .pwFindBtnArea button {
	font-size: 15px;
	width: 100%;
	height: 46px;
	margin-top: 15px;	
	background: #333;
	border: none;
	color: #fff;
}

.otherFindBtnArea button {
	font-size: 15px;
	width: 45%;
	height: 46px;
	margin-top: 15px;
	margin-left: 15px;
	background: #333;
	border: none;
	color: #fff;
}

.findResRow , .findResBtnArea {
	padding: 10px;
	padding-left: 20%;
}

.findResRow > .findResTitle > span {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}

.findResVal {
	margin-top: 15px;
}

.findResVal input {
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
	width: 60%;
}

.findResBtnArea button {
	font-size: 16px;
	padding: 10px 5px;
	font-weight: bold;
	width: 14%;
}

.findResBtnArea button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

.findResBtnArea button:first-child:hover {
	background: #444;
}

.findResBtnArea button:last-child {
	border: 1px solid #aaa;
}

.findResBtnArea button:last-child:hover {
	border: 1px solid #ccc;
}

div.findResArea {
	text-align: center;
	font-size: 18px;
}

div.findResBtnArea {
	margin-top: 30px;
	text-align: center;
	padding: 0;
}

div.findResBtnArea a {
	display: inline-block;
	padding: 15px;
	margin: 0 15px;
	font-size: 16px;
	height: 50px;
	width: 130px;
	background: #333;
	border: none;
	color: #fff;
}

/* 아이디 / 비밀번호 찾기 영역 끝 */
