@charset "UTF-8";

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.section > h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
}

.section > article {
  width: 100%;
  max-width: 1200px;
}



/* 메인 슬라이드 영역 시작 */
.mainfront{
	padding-top: 100px;
}
.mainslide{
/*   width: 80%; */
/*   height: 600px; */
	width: 100%;
	height: calc(100vh - 100px);
	overflow: hidden;
	position: relative;
}
.swiper-slide{
  width: 100%;
	position: relative;
	overflow: hidden;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}
.swiper-slide .txt-area{
	position: absolute;
	top: 40%;
	left: 150px;
	transform: translateY(-50%);
	z-index: 2;
}
.swiper-slide .txt-area > p{
	color: #fff;
	opacity: 0;
	position: relative;
	top: 50px;
}
.swiper-slide .txt-area > p.sub-tit{
	font-size: 30px;
	padding-bottom: 40px;
}
.swiper-slide .txt-area > p.main-tit{
	font-size: 80px;
	padding-bottom: 30px;
}
.swiper-slide .txt-area > p.info-tit{
	font-size: 16px;
}
.swiper-button-prev{
	background-image: url("/images/icon-review-arrow-prev.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat:no-repeat;
	width: 50px !important;
	height: 50px !important;
	top: 40%;
}
.swiper-button-next{
	background-image: url("/images/icon-review-arrow-next.png");
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat:no-repeat;
	width: 50px !important;
	height: 50px !important;
	top: 40%;
  	
}
.mainslide .swiper-button-next::after,
.mainslide .swiper-button-prev::after {
  display: none;
}
.mainslide .swiper-pagination-bullet { 
	width: 12px; 
	height: 12px; 
	background: transparent; 
	border: 1px solid #c1c1c1; 
	opacity: 1; 
	}
.mainslide .swiper-pagination-bullet-active { width: 40px; 
transition: width .5s; 
border-radius: 5px; 
background: #d7daf0; 
border: 1px solid transparent; 
 }
 


/* 메인 슬라이드 영역 끝 */


/* 핫리스트 영역 시작 */
.sec01{
  width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-top: 10px;
  
}
.sec01 > h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.hot_list_section{
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.listcontainer{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 400px;
}
.hot_list{
  margin: 10px;
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  border-radius: 10px;
}
.hot_list a{
  width: inherit;
  height: inherit;
  
}
.hot_list img{
  width: 100%;
  height: 100%;
}
.hotproduct{
  position: absolute;
  width: inherit;
  height: inherit;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top,
   rgba(44, 41, 41, 0.459), transparent);
   color: #fff;
   text-align: center;
   padding-top: 220px;
   box-sizing: border-box;
   transition: .5s;
   /* opacity: .8; */
}
.hot_list:hover .hotproduct{
  top: 0;
}
.hot_list:hover{
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.342);
}
/* 핫리스트 영역 끝 */

/* 전시전 소식 영역 시작 */
.sec02{
	width: 80%;
	height: 580px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 4px solid #f80;
}
.sec02-inner {
	width: 100%;
	height: 80%;
}
.sec02-inner h2{
	font-size: 30px;
	padding: 20px 0 20px 20px;
	border: 1px solid #000;
	display: block;
}
.exhibit-news-list{
	width: 100%;
	height: 100%;
	margin-top: 15px;
	display: flex;
}

.news-box{
	width: 40%;
	height: 100%;
	margin-left: 20px;
	border: 1px solid #000;
}
.event-box{
	width: 60%;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #000;
}
/* .news-box,
.event-box {
	width: 40vh;
	height: 100%;
	margin-right: 10px;
	border: 1px solid #08f;
	flex:1;
} */


/* 전시전 소식 영역 끝 */



