@charset "UTF-8";

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.section > h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
}

.section > article {
  width: 100%;
  max-width: 1200px;
}



/* 메인 슬라이드 영역 */
.mainfront{
	padding-top: 100px;
}
.mainslide{
  width: 100%;
  height: 600px;
}
.swiper-slide{
  width: 100%;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}


/* 핫리스트 수정작업한거 */
.hot_list_section{
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
}


.listcontainer{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 400px;
}
.hot_list{
  margin: 10px;
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  border-radius: 10px;
}
.hot_list a{
  width: inherit;
  height: inherit;
  
}
.hot_list img{
  width: 100%;
  height: 100%;
}
.hotproduct{
  position: absolute;
  width: inherit;
  height: inherit;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top,
   rgba(44, 41, 41, 0.459), transparent);
   color: #fff;
   text-align: center;
   padding-top: 220px;
   box-sizing: border-box;
   transition: .5s;
   /* opacity: .8; */
}
.hot_list:hover .hotproduct{
  top: 0;
}
.hot_list:hover{
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.342);
}

 
/* 핫리스트 수정작업한거 */


.sec01{
  width: 70%;
  height: 850px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(197, 62, 62, 0.053);
  
}
.sec01 > h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 70px;
}


.section_hot > article {
  display: flex;
}
.hot-list-wrapper {
  height: 610px;
  display: grid;
  grid-template: "a b c" "d e f";
}
.hot-list_first {
  max-width: 378px;
  height: 520px;
  margin-left: 0px;
  margin-right: 10px;
}
.hot-list_first > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hot-list_first .hot-list-text {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hot-list_first .hot-list-text p {
  padding: 10px;
}
.hot-list_first .hot-list-text > p:last-child {
  font-size: 15px;
  color: rgb(99, 99, 99);
}
.hot-list {
  max-width: 240px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.hot-list > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hot-list-wrapper:last-child > .hot-list:nth-child(3n) {
  margin-right: 0px;
}



/* 상품 리스트 */


.product_list{
	
}

.product_list {
  width: 70%;
  display: flex;
}
.product_list > div {
  padding: 8px;
  flex: 1;
  
}
.product_list > div > img {
  width: 100%;
  height: 100%;
}




/* 상품 리스트 */




.notice-list {
  width: 100%;
  background-color: #f4f4f4;
}
.notice-list > li {
  border-bottom: 1px solid rgb(249, 249, 249);
  width: 100%;
  padding: 20px 36px;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}