@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "Noto Sans KR";
  src: url(/source/fonts/NotoSans-Light.eot);
  src: url(/source/fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(/source/fonts/NotoSans-Light.woff) format("woff"), url(/source/fonts/NotoSans-Light.ttf) format("truetype"), url(/source/fonts/NotoSans-Light.svg#NotoSans-Light) format("svg");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(/source/fonts/NotoSans-Regular.eot);
  src: url(/source/fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(/source/fonts/NotoSans-Regular.woff) format("woff"), url(/source/fonts/NotoSans-Regular.ttf) format("truetype"), url(/source/fonts/NotoSans-Regular.svg#NotoSans-Regular) format("svg");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(/source/fonts/NotoSans-Medium.eot);
  src: url(/source/fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(/source/fonts/NotoSans-Medium.woff) format("woff"), url(/source/fonts/NotoSans-Medium.ttf) format("truetype"), url(/source/fonts/NotoSans-Medium.svg#NotoSans-Medium) format("svg");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(/source/fonts/NotoSans-Bold.eot);
  src: url(/source/fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(/source/fonts/NotoSans-Bold.woff) format("woff"), url(/source/fonts/NotoSans-Bold.ttf) format("truetype"), url(/source/fonts/NotoSans-Bold.svg#NotoSans-Bold) format("svg");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
} 