@charset "UTF-8";
@import url(/source/style_Reset.css);

/*/////////////////////bbsList.jsp 영역 시작///////////////////////*/

/*div#serachArea 영역 시작*/
div#wrap>.sub-body>.inner form>.searchArea{
	margin-bottom: 30px;
	padding: 70px 0;
	background-color: #f8f8f8;
	justify-content: center;
}
div#wrap>.sub-body>.inner form>.searchArea span{
	font-size: 22px;
	font-weight: bold;
	margin-right: 10px;
}
div#wrap>.sub-body>.inner form>.searchArea select.searchDV{
	height: 40px;
	width: 100px;
	font-size: 17px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: #f8f8f8;
}
div#wrap>.sub-body>.inner form>.searchArea input#searchBox{
	height: 40px;
	width: 500px;
	border: 1px solid #ddd;
	margin-left: 10px;
	padding-left: 10px;
	transform: translateY(-2px);
}
div#wrap>.sub-body>.inner form>.searchArea input#searchBox::placeholder{
	font-size: 17px;
}
div#wrap>.sub-body>.inner form>.searchArea button.btnImg{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-left: 10px;
}
.tblArea>table {
	width: 100%;
	border-collapse: collapse;
}
.tblTop{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.tblTop.right{
	justify-content: flex-end;
}
.tblArea>.tblTop span{
	padding: 5px 10px;
}
.tblArea>.tblTop span em{
	color: #0080c0;
	font-weight: bold;
}
.tblArea>table tr:hover{
	background: #e7e7e7;
}
.tblArea>table td{
	padding: 19px 0;
}
.tblArea>table td:nth-child(2){
	text-align: left;
}
.tblArea>table th,td{
	padding: 14px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
	border-top:1px solid #ccc;
}
.tblArea>table td.hide>pre{
	text-align: left;
}
.tblArea>table tr.hidden>td{
	padding: 20px 30px;
}
.tblArea>table th{
	background-color: #eff5f7;
	border-top: 3px solid #000;
	border-bottom: 1px solid #ccc;
}


/*div#searchArea 영역 끝*/

/*div.footerArea 시작*/
div.footerArea{
	justify-content: center;
}

div.footerArea > .pagingComm > div {
	justify-content: center;
}
div.footerArea>.pageArea a.nowPage{
	cursor: none;
}
div.footerArea>.btnArea button{
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
}
/*div.footerArea 끝*/

/*/////////////////////bbsList.jsp 영역 끝///////////////////////*/


/*/////////////////////write.jsp 영역 시작///////////////////////*/
#wrap>.sub-body>.inner .main>form#writeFrm{
	width: 70%;
	margin: 0 auto;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl{
	width: 100%;
}

.main>form#writeFrm>table#writeTbl select#header,
.main>form#writeFrm>table#writeTbl input.txtBox{
	width: 100%;
	margin: 7px 7px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl td#bg{
	background-color: #fbfbfb;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl span#writer{
	display: inline-block;
	margin-left: 5px;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table td:first-child{
	text-align: left;
}
.main>form#writeFrm>table#writeTbl input.txtBox::placeholder{
	color: #aaa;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl img.icon{
	margin: 5px 7px;
	cursor: pointer;
	width: 40px;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl img.icon:hover{
	border: 3px solid #000;
	border-radius: 5px;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl textarea#content{
	width: 100%;
	resize: none;
	margin: 5px 7px;
	font-size: 17px;
}
#wrap>.sub-body>.inner .main>form#writeFrm>table#writeTbl textarea#content::placeholder{
	color: #aaa;
	font-size: 18px;
}
.btnArea{
	text-align: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
.btnArea>button{
	width: 97px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 5px;
}
.fNameArea>.viewFname{
	height: 40px;
    width: 295px;
    transform: translateY(5px);
    border: 1px solid #bbb;
}
/*/////////////////////write.jsp 영역 끝///////////////////////*/
/*/////////////////////faqWrite.jsp 영역 시작///////////////////////*/
div#header>hr{
	border: 2px solid #222;
}
.writeArea>.writerArea{
	padding: 10px 5px;
	font-size: 18px;
}
.writeArea>.titleArea{
	width: 100%;
	padding: 5px 0px;
}
.writeArea>.titleArea>input#titleBox{
	width: 100%;
	margin: 7px 0px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
.writeArea>.titleArea>input[type='text']::placeholder{
	font-size: 18px;
}
.writeArea>.cont-Area>textarea#content{
	width: 100%;
	resize: none;
	margin: 5px 0px;
	font-size: 16px;
	border: 1px solid #ccc;
}
.writeArea>.cont-Area>textarea#content::placeholder{
	font-size: 18px;
}

.writeBtnArea{
	transform: translateX(187px);
}
/*/////////////////////faqWrite.jsp 영역 끝///////////////////////*/


.sub-main .td-title .row .title label {
	
}

.sub-main .td-title .row .title label span {
	font-size: 20px;
    display: inline-block;
    width: 90%;
    height: 100%;
    padding: 10px 10px 10px 45px;
}

.sub-main .td-title .row .title label img {
	width: 40px;
    height: 40px;
    vertical-align: middle;
}

.sub-main .td-title .content {
	background: #eee;
	padding: 100px 110px;
}


/*/////////////////////noticeView.jsp 영역 시작///////////////////////*/

#wrap>.sub-body>.inner #ntcViewInner{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 30px;
}
.ntcTitle{
	width: 100%;
	padding: 30px 10px;
	border:1px solid #000;
	border-top: 5px solid #000;
	border-bottom:none;
	background-color: #eff5f7;
	justify-content: space-between;
}
.ntcTitle>.ntcTitle-left>span{
	font-size: 20px;
	font-weight: bold;
}
.ntcTitle>.ntcTitle-right{
	transform: translateY(20px);
}
.ntcTitle>.ntcTitle-right>span{
	font-size: 14px;
	font-weight: bold;
}

.nt-content{
	width: 100%;
	border: 1px solid #000;
	padding: 10px;
	border-top: none;
}
.nt-content>pre{
	width: 100%;
	height: 100%;
	padding:0;
	font-size: 18px;
	font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
	white-space: pre-wrap;
	padding: 10px -0px 100px;
}
hr#fileLine{
	transform: translateY(8px);
}
.filePath{
	margin: 20px 10px;
}
.filePath>a:hover{
	color: #0086b8;
}
.ntcFooter {
	justify-content: space-between;
	margin-top: 20px;
}
.ntcFooter>.footerLeft>a{
	padding: 10px 10px;
	font-size: 16px;
}
.ntcFooter>.footerLeft>a:not(.noData):hover{
	opacity: 0.7;
	text-decoration: underline;
}
.ntcFooter>.footerLeft>a.noData{
	cursor: text;
	color: #bbb;
}
.ntcFooter>.footerRight>button{
	margin: 0 5px;
	width: 83px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
#ntcUdBtn{
	transform:translateX(188px);
}
/*/////////////////////noticeView.jsp 영역 끝///////////////////////*/
/*/////////////////////searchRes.jsp 영역 시작///////////////////////*/
#wrap>.sub-body>.inner .resMsg{
	margin-bottom: 20px;
}
#wrap>.sub-body>.inner .resMsg span{
	font-size: 22px;
	color: #f80;
	font-weight: bold;
}
.scTblArea{
	padding: 5px 5px;
}
.scTblArea>table{
	width: 100%;
	padding: 5px 5px;
	border-collapse: collapse;
}
.scTblArea>table th,td{
	padding: 10px 0;
	text-align: center;
}
.scTblArea>table th{
	background-color: #eff5f7;
	border-top: 3px solid #000;
	border-bottom: 1px solid #ccc;
}
.scTblArea>table td.hide>pre{
	font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}
.scTblArea>table td.hide{
	text-align: left;
}
/*/////////////////////searchRes.jsp 영역 끝///////////////////////*/



/*/////////////////////faqList.jsp 영역 시작///////////////////////*/

div#wrap>.sub-body>.inner>.managerPage>.manager-cont>.faqListArea .main{
	width: 100%;
	border-top: 3px solid #000;
	text-align: center;
}
.main>.listTop{
	padding: 2px 0;
	width: 100%;
	border-bottom: 1px solid #aaa;
	background-color: #eff5f7;
	font-weight: bold;
}
.main>.listTop>.th-title{
	width: 94%;
	padding: 10px 20px;
	text-align: center;
}
.main>.listTop>.th-btn{
	padding: 10px 0;
	text-align: center;
	width: 165px;
}
.main>.sub-main>.td-title>.row{
	border-bottom: 1px solid #aaa;
}
.main>.sub-main>.td-title>.row>.title{
	width: 100%;
	text-align: left;
	padding: 17px 0;
}

.tblTop + .main{
	border-top: 2px solid #222;
}
.main>.sub-main>.td-title>.row>.title span{
	font-size: 20px;
}
.main>.sub-main>.td-title .title span:hover,
.main>.sub-main>.td-title .slideBtn img:hover{
	cursor: pointer;
}
.main>.sub-main>.td-title .slideBtn{
		
		width: 180px;
}
.main>.sub.main>.td-title .scRes{
	width: 120px;
}
.content{
		border:none;
		padding: 15px 10px;
		text-align: left;
}

.content>pre{
	font-size: 18px;
	font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#faqBtnArea{
	
margin-left: 620px;
}

/*/////////////////////faqList.jsp 영역 끝///////////////////////*/
/*/////////////////////useInfo.jsp 영역 시작///////////////////////*/

#wrap>.sub-body>.inner>section.sec4 .img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#wrap>.sub-body>.inner>section.sec4>div>p.tit {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 22px;
}

#wrap>.sub-body>.inner>section.sec4>div>p.txt {
	padding-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #333;
	font-size: 18px;
}

#wrap>.sub-body>.inner>section.sec4>div>ul.sec-list+p.tit {
	margin-top: 60px;
}

#wrap>.sub-body>.inner>section.sec4>div>ul.sec-list li {
	position: relative;
	display: block;
	line-height: 20px;
	color: #666;
	font-size: 14px;
	padding-left: 15px;
}

#wrap>.sub-body>.inner>section.sec4>div ul.sec-list li::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background: #666;
}
#wrap>.sub-body>.inner>section.sec4>div ul.sec-list li+li {
	margin-top: 10px;
}

#wrap>.sub-body>.inner>section.sec4>div ul.sec-list li a {
	color: #666;
}

#wrap>.sub-body>.inner>section.sec4 .bInfo-table {
	width: 800px;
	margin-bottom: 20px;
}

#wrap>.sub-body>.inner>section.sec4 .bInfo-table tr th, 
#wrap>.sub-body>.inner>section.sec4 .bInfo-table tr td
	{
	padding: 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#wrap>.sub-body>.inner>section.sec4 .bInfo-table tr th {
	background: #f5f5f5;
}

#wrap>.sub-body>.inner>section.sec4 .bInfo-table tbody tr th {
	font-weight: normal;
}

/*/////////////////////useInfo.jsp 영역 끝///////////////////////*/
/*/////////////////////noData.jsp 영역 시작///////////////////////*/

#wrap .rpBtn>button{
	margin-right: 10px;
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}
.noDataInner{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

/*/////////////////////noData.jsp 영역 끝///////////////////////*/

/*/////////////////////faqScRes.jsp 영역 끝///////////////////////*/

.scTblArea>table>tbody>tr>td img:hover,
.scTblArea>table>tbody>tr>td label:hover{

	cursor: pointer;
}
.scBtnArea{
	margin-left: 735px;
	margin-top: 10px;
}
#faqScBtn{
	margin-left: 620px;
}

/*/////////////////////faqScRes.jsp 영역 끝///////////////////////*/

/*/////////////////////writeRes.jsp 영역 시작///////////////////////*/

#wrap>.sub-body>.inner .tit-cont p.resMsg{
	font-size: 33px;
	font-weight: bold;
}
#writeResBtn{
	transform: translateX(480px);
}
#faqScRes{
	transform: translateX(418px);
}

/*/////////////////////writeRes.jsp 영역 끝///////////////////////*/

/*/////////////////////delete.jsp 영역 시작///////////////////////*/

#wrap>.sub-body>.inner .btnArea>.dlBtn{
	margin: 5px 10px;
	transform: translateX(180px);
}
/*/////////////////////delete.jsp 영역 끝///////////////////////*/

.btnArea>button.adminPg{
	width: 300px;
}
#udBtnArea{
	margin-left: 390px;
}



