@charset "UTF-8";

/* 상품페이지 달력 */
.dateBox .dateYM{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.dateBox .dateYM .dateTxt{
	padding: 0 10px;
}
.dateBox .dateYM .prev{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	background: url("/images/icon-cal-arrow-prev.png")no-repeat center / 100%;
}
.dateBox .dateYM .next{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	background: url("/images/icon-cal-arrow-next.png")no-repeat center / 100%;
}
.dateBox #calendar{
	width: 100%;
}
.dateBox #calendar tbody tr td{
	padding: 5px 0;
}
.dateBox #calendar tbody tr td a{
	position: relative;
	display: block;
	width: 100%;
	padding: 7px 0;
}
.dateBox #calendar tbody tr td a::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 40px;
	height: 100%;
	border-radius: 50%;
	background: #ddd;
	opacity: .5;
	
	display: none;
}
.dateBox #calendar tbody tr td:not(.off) a:not(.on):hover::after{
	display: block;
}
.dateBox #calendar tbody tr td a.on span{
	color:#fff;
	font-weight: bold;
}
.dateBox #calendar tbody tr td a.on::after{
	background: #cd4a00;
	display: block;
}
.dateBox #calendar tbody tr td.off a{
	cursor: none;
}
.dateBox #calendar tbody tr td.off a span{
	opacity: .2;
}