@charset "UTF-8";
@import url(/source/style_Reset.css);

/*/////////////////////bbsList.jsp 영역 시작///////////////////////*/

/*div#serachArea 영역 시작*/
div#wrap>.sub-body>.inner>.searchArea{
	text-align: center;
	margin-bottom: 30px;
	padding: 30px 0;
	background-color: #f8f8f8;
}
div#wrap>.sub-body>.inner>.searchArea>span{
	font-size: 20px;
	font-weight: bold;
}
div#wrap>.sub-body>.inner>.searchArea>input#searchBox{
	height: 35px;
	padding: 0 20px;
	border: 1px solid #ddd;
	margin-left: 15px;
}
div#wrap>.sub-body>.inner>.searchArea>button.btnImg{
	width: 70px;
	height: 35px;
	font-weight: bold;
	background-color: #fff;
	font-size: 15px;
}

/*div#searchArea 영역 끝*/

/*div.footerArea 시작*/
div.footerArea>.pageArea a.nowPage{
	cursor: none;
}
/*div.footerArea 끝*/

/*/////////////////////bbsList.jsp 영역 끝///////////////////////*/


/*/////////////////////write.jsp 영역 시작///////////////////////*/
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl{
	width: 100%;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#writer{
	width: 20%;
	height: 35px;
	margin: 7px 7px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}


#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl select#division{
	width: 100%;
	margin: 7px 7px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#titleBox{
	width: 100%;
	margin: 7px 7px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl td#bg{
	background-color: #fbfbfb;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl span{
	margin-left: 5px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#writer{
	outline: none;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#titleBox::placeholder{
	color: #aaa;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl img.icon{
	margin: 5px 7px;
	cursor: pointer;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl img.icon:hover{
	border: 3px solid #000;
	border-radius: 5px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl textarea#content{
	width: 100%;
	resize: none;
	margin: 5px 7px;
	font-size: 14px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl textarea#content::placeholder{
	color: #aaa;
	font-size: 18px;
}
#btnArea{
	text-align: right;
}
#btnArea>button{
	width: 80px;
	height: 35px;
	font-size: 15px;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
#btnArea>button:hover {
	background-color: #aaa;
}
#setPwArea>#setPw{
	margin-left: 7px;
}
#setPwArea>#contentPw{
	display: none;
	margin: 10px 5px;
}
/*/////////////////////write.jsp 영역 끝///////////////////////*/











