@charset "UTF-8";

@import url(/source/style_Reset.css);

.eventInner {
	flex-wrap: wrap;
	justify-content: center;
}
<!--
.eventViewArea {
	padding-top: 100px;
}

.eventViewArea .eventTop {
	padding-bottom: 30px;
	border-bottom: 2px solid #333;;
}

.eventViewArea .eventTop .eventFlagDesc {
	width: 100%;
}

.eventViewArea .eventTop .eventTxtDesc {
	position: relative;
	margin-top: 10px;
	font-size: 35px;
	font-weight: bold;
}

.eventViewArea .eventTop .eventTxtDesc::after {
	content: "";
	display: block;
	clear: both;
}

.eventViewArea .eventTop .eventTxtDesc .tit {
	float: left;
}

.eventViewArea .eventTop .eventTxtDesc .sns {
	position: relative;
	float: right;
}

.eventViewArea .eventTop .eventTxtDesc .sns>a {
	display: block;
	width: 48px;
	height: 48px;
}

.eventViewArea .eventTop .eventTxtDesc .sns .sns-list {
	position: absolute;
	right: 50px;
	top: 5px;
	display: flex;
	flex-wrap: nowrap;
	width: 0;
}

.eventViewArea .eventTop .eventTxtDesc .sns .sns-list a {
	width: 30px;
	display: block;
	margin-right: 10px;
}

.eventViewArea .eventTop .eventTxtDesc .sns .sns-list a img {
	width: 100%;
}
-->
.eventRow {
	margin: 15px 10px;
	width: calc((100% - 80px) / 4);
}

.eventRow Img {
	width: 100%;
}

.eventRow:hover {
	opacity: 0.9;
}

.eventPageArea .event-tab {
	text-align: center;
	width: 600px;
	margin: 50px auto 0;
}

.eventPageArea .event-tab li {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
}

.eventPageArea .event-tab li a {
	display: block;
	padding: 10px 30px;
	border: 1px solid #ebe8e5;
	background: #f4f3f1;
	border-radius: 30px;
}

.eventPageArea .event-tab li a span {
	font-size: 15px;
}

.eventPageArea .event-tab li.on a {
	background: linear-gradient(117deg, #28d4dd 1%, #0080c0);
	color: #fff;
	font-weight: bold;
}

hr.eventHR {
	margin: 20px auto;
}

.eventType {
	font-size: 14px; color : #1bb8d3;
	display: inline-block;
	padding: 3px 5px;
	margin: 5px 0;
	border: 2px solid #1bb8d3;
	color: #1bb8d3;
}

.eventTag {
	font-size: 14px;
	color: #2a853f;
	display: inline-block;
	padding: 3px 5px;
	margin: 5px 0;
	border: 2px solid #2a853f;
}

.eventTitle {
	font-size: 19px;
	padding: 0 5px;
	margin-bottom: 5px;
}

.eventDate {
	padding-left: 5px;
}

.eventDate .eDate {
	color: grey;
}

.eventBtnArea {
	text-align: center;
	margin: 20px auto;
}

#eventContent {
	margin-top: 15px;
	padding: 5px;
}

.eventBtnArea button {
	font-size: 20px;
	padding: 15px 10px;
	background: #333;
	border: none;
	color: #fff;
	width: 22%;
}

.eventBtnArea button:hover {
	background: #444;
}

#eventContent img {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.eventRef {
	width: 50%;
	margin: 10px auto;
	line-height: 30px;
}

.eventRef >span#eventRefTxt > ul > li::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -5px;
	left: -3px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background-color: #666;
}

.eventRefTitle {
	font-weight: bold;
	font-size: 20px;
}

.eventRefHR {
	margin: 10px 0;
}

#eventReplyArea {
	padding: 10px;
	position: relative;
	left: -30px;
}

#eventReplyBtn {
	width: 10%;
	height: 120px;
	position: absolute;
}

#eventReplyTxt {
	font-size: 16px;
	width: 70%;
	padding: 15px;
	resize : none;
	height: 120px;
}

#eventReplySize {
	display: inline-block;
	width: 120px;
	position: absolute;
	transform: translate(-100px, 90px);
	z-index: 1;
}

.eventReplyRow {
	margin: 10px;
	position: relative;
	left : 50px;
	width: 80%;
	margin: 10px auto;
	border-bottom: 1px solid #444;
	transform: translateX(-13px);
}

.eventReplyRow * {
	width: 100px;
	padding: 10px;
}

.eventReplyInnerTxt {
	text-align-last: left;
	flex: 7;
}

.eventReplyInnerTxt pre {
	transform: translateY(-10px);
	border: none;
}

.eventReplyDate {
	font-size: 14px;
	transform: translateY(-3px);
}

.eventReplyDel {
	padding: 0;
	width: 50px;
}

.eventReplyDel img {
	width: 48px;
}

.eventReplyPaging {
	justify-content : center;
}

.eventReplyPagingPrev , .eventReplyPagingNext {
	width: 80px;
	padding: 1px;	
} 

.eventReplyPagingPrev a , .eventReplyPagingNext a {
	margin: 0 5px;
}

.eventReplyPaging > .selected {
	background-color: #666;
	color: #fff;
}

.eventReplyPagingNo {
	width: 30px;
	padding: 1px;
}

.eventViewTab {
	margin: 15px auto;
	width: 80%;
	transform: translateX(40px);
	border-bottom: 2px solid #222;
}

.eventViewTab > ul > li{
	padding: 10px;
	margin: 0 20px;
	font-size: 20px;
}