@charset "UTF-8";

/* 약관동의 영역 시작 */

#termsArea {
	padding-left: 20px;
	width: 800px;
	margin: 20px auto;
}

#termsArea > div.termsRow span.chkAllTxt {
	font-weight: bold;
	font-size: 20px;
}

.termsRow {
	padding: 10px;
}

.termsRow label:hover {
	cursor: pointer;
}

.req {
	margin-left: 5px;
	font-size: 13px;
	color : red;
}

.termsOption {
	margin-left: 5px;
	font-size: 13px;
	color : blue;
}

iframe.termsTxt {
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;
	width: 95%;
}

pre.termsTxtInner {
	width: 100%;
}

#termsBtnArea {
	height: 60px;
	margin: -15px auto;
	width: 50%;
	text-align: center;
}

#termsBtnArea button {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	height: 100%;
	width: 40%;
}

#termsBtnArea button:first-child {
	margin-right: 20px;
	background: #333;
	border: none;
	color: #fff;
}

#termsBtnArea button:first-child:hover {
	background: #444;
}

#termsBtnArea button:last-child {
	border: 1px solid #aaa;
}

#termsBtnArea button:last-child:hover {
	border: 1px solid #ccc;
}

.checked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/checked.png) no-repeat;
	background-size: 25px 25px;
}

.unchecked::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/unchecked.png) no-repeat;
	background-size: 25px 25px;
}

.checkDefault::before {
	content:" ";
	position: relative;
	top: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(/images/checkDefault.png) no-repeat;
	background-size: 25px 25px;
}

span.smallFont {
	font-size: 16px;
	color: #333;
	font-weight: normal;
}


/* 약관동의 영역 끝*/


/* 회원가입 영역 시작 */
#joinArea {
	margin: 20px auto;
	text-align: center;
}

#joinArea > div.joinRow>input {
	padding: 10px;
	height: 10%;
	width: 20%;
}

#joinArea > div.joinRow>input#uZipcode {
	width: 10%;
}

#joinArea > div.joinRow>button#zipChk {
	padding: 10px;
	height: 10%;
	margin: 0 0 4px 2px;
}

.joinRow span.joinTitle {
	padding: 5px;
	font-weight: bold;
	width: 20%;
	text-align-last: left;
	display: inline-block;
}

.joinRow:last-child > button {
	margin: 15px 0;
	padding: 10px;
	height: 8%;
	width: 10%;
}
#termsArea{
	padding-top: 50px;
}

/* 회원가입 영역 끝 */

/* 로그인 영역 시작 */

div#loginArea {
	margin: 0 auto 20px;
	justify-content: center;
}

#loginArea > div#idPwArea input {
	padding: 10px;
	height: 10%;
	margin: 5px;
}

#loginArea > div#loginBtnArea button {
	padding: 10px;
	height: 90%;
	margin: 5px;
}
.login-desc{
	width: 500px;
	margin: 0 auto;	
}
#utilArea {
	text-align: center;
}
.login-desc #utilArea li{
	position: relative;
	display: inline-block;
}
.login-desc #utilArea li:not(:last-child){
	padding-right: 20px;	
	margin-right: 20px;
}
.login-desc #utilArea li:not(:last-child)::after{
	content:"";
	display: block;
	position: absolute;
	top: 6px;
	right: 0;
	width: 1px;
	height: 15px;
	background: #222;
}



/* 로그인 영역 끝 */

/* 마이페이지 영역 시작 */

#mypageArea {
	margin: 20px auto;
	text-align: center;
	border: 1px solid #000;
}
.mypageRow {
	justify-content: center;
	border: 1px solid #000;
}

.mypageRow > div {
	width: 20%;
}

#mypageArea > div.mypageRow input {
	padding: 10px;
	height: 50%;
	width: 100%;
}

#mypageArea > div.mypageRow input#uZipcode {
	width: 10%;
}

#mypageArea > div.mypageRow button#zipChk {
	padding: 10px;
	height: 10%;
	margin: 0 0 4px 2px;
}

.mypageRow div.modifyTitle {
	padding: 5px;
	font-weight: bold;
	width: 20%;
	text-align-last: left;
	display: inline-block;
}

/* 마이페이지 영역 끝 */
