@charset "UTF-8";
@import url(/source/style_Reset.css);

/*/////////////////////bbsList.jsp 영역 시작///////////////////////*/

/*div#serachArea 영역 시작*/
div#wrap>.sub-body>.inner>form>.searchArea{
	text-align: center;
	margin-bottom: 30px;
	padding: 30px 0;
	background-color: #f8f8f8;
}
div#wrap>.sub-body>.inner>form>.searchArea>span{
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
div#wrap>.sub-body>.inner>form>.searchArea select.searchDV{
	height: 30px;
	width: 100px;
}
div#wrap>.sub-body>.inner>form>.searchArea>input#searchBox{
	height: 35px;
	padding: 0 20px;
	border: 1px solid #ddd;
	margin-left: 15px;
}
div#wrap>.sub-body>.inner>form>.searchArea>button.btnImg{
	width: 70px;
	height: 35px;
	font-weight: bold;
	background-color: #fff;
	font-size: 15px;
	transform: translateY(2px);
}
.tblArea>table {
	width: 100%;
	border-collapse: collapse;
}
.tblArea>.tblTop{
	text-align: right;
}
.tblArea>.tblTop span{
	padding: 5px 10px;
}
.tblArea>table th,td{
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
	border-top:1px solid #ccc;
}
.tblArea>table td.hide>pre{
	text-align: left;
}
.tblArea>table th{
	background-color: #f5f5f5;
	border-top: 3px solid #000;
	border-bottom: 1px solid #ccc;
}
/*div#searchArea 영역 끝*/

/*div.footerArea 시작*/
div.footerArea>.pageArea a.nowPage{
	cursor: none;
}
/*div.footerArea 끝*/

/*/////////////////////bbsList.jsp 영역 끝///////////////////////*/


/*/////////////////////write.jsp 영역 시작///////////////////////*/
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl{
	width: 100%;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#writer{
	width: 20%;
	height: 35px;
	margin: 7px 7px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}


#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl select#division{
	width: 100%;
	margin: 7px 7px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#titleBox{
	width: 100%;
	margin: 7px 7px;
	height: 35px;
	border: 1px solid #d8d8d8;
	font-size: 18px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl td#bg{
	background-color: #fbfbfb;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl span{
	margin-left: 5px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#writer{
	outline: none;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl input#titleBox::placeholder{
	color: #aaa;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl img.icon{
	margin: 5px 7px;
	cursor: pointer;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl img.icon:hover{
	border: 3px solid #000;
	border-radius: 5px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl textarea#content{
	width: 100%;
	resize: none;
	margin: 5px 7px;
	font-size: 14px;
}
#wrap>.sub-body>.inner>form#writeFrm>#main>table#writeTbl textarea#content::placeholder{
	color: #aaa;
	font-size: 18px;
}
#btnArea{
	text-align: right;
}
#btnArea>button{
	width: 80px;
	height: 35px;
	font-size: 15px;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
#btnArea>button:hover {
	background-color: #aaa;
}
#setPwArea>#setPw{
	margin-left: 7px;
}
#setPwArea>#contentPw{
	display: none;
	margin: 10px 5px;
}
/*/////////////////////write.jsp 영역 끝///////////////////////*/

/*/////////////////////noticeView.jsp 영역 시작///////////////////////*/

#wrap>form#noticeFrm>.sub-body>.inner>#ntcViewInner{
	width: 80%;
	height: 600px;
	margin: 0 auto;
}

#wrap>form#noticeFrm>.sub-body>.inner>#ntcViewInner>.header>.headerTop{
	justify-content: space-between;
	padding: 30px 10px;
}
.headerTop>.headerTop-right{
		transform: translateY(27px);
		
}
.headerTop>.headerTop-left>span{
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
}
.headerTop>.headerTop-right>span{
	font-size: 14px;
	font-weight: bold;
}
.header>.ntcTitle{
	padding: 20px 10px;
	border:1px solid #000;
	border-top: 5px solid #000;
	border-bottom:none;
	background-color: #f5f5f5;
}
.header>.ntcTitle>span{
	font-size: 25px;
	font-weight: bold;
}

.content{
	width: 100%;
	border: 1px solid #000;
	padding: 10px;
	font-size: 12px;
	height: 70%;
	border-top: none;
}
.content>pre{
	padding:0;
}
.ntcFooter {
	justify-content: space-between;
}
.ntcFooter>.footerLeft>a{
	padding: 10px 10px;
	font-size: 16px;
}
.ntcFooter>.footerLeft>a:not(.noData):hover{
	opacity: 0.7;
	text-decoration: underline;
}
.ntcFooter>.footerLeft>a.noData{
	cursor: text;
	color: #bbb;
}
.ntcFooter>.footerRight>a:hover{
	opacity: 0.7;
	text-decoration: underline;
}
/*/////////////////////noticeView.jsp 영역 끝///////////////////////*/
/*/////////////////////searchRes.jsp 영역 시작///////////////////////*/
#wrap>.sub-body>.inner>.resMsg{
	margin-bottom: 20px;
}
#wrap>.sub-body>.inner>.resMsg span{
	font-size: 22px;
	color: #f80;
	font-weight: bold;
}
.scTblArea{
	padding: 5px 5px;
}
.scTblArea>table{
	width: 100%;
	padding: 5px 5px;
	border-collapse: collapse;
}
.scTblArea>table th,td{
	padding: 10px 0;
	text-align: center;
}
.scTblArea>table th{
	background-color: #f5f5f5;
	border-top: 3px solid #000;
	border-bottom: 1px solid #ccc;
}
.scTblArea>table td.hide>pre{
	font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}
.scTblArea>table td.hide{
	text-align: left;
}
/*/////////////////////searchRes.jsp 영역 끝///////////////////////*/



/*/////////////////////faqList.jsp 영역 시작///////////////////////*/
.tblArea>table>tbody>tr>td .detailIcon:hover{
	
	cursor: pointer;
}
.tblArea>table>tbody>tr>td.hide pre{
	font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/*/////////////////////faqList.jsp 영역 끝///////////////////////*/
/*/////////////////////faqList.jsp 영역 시작///////////////////////*/


/*/////////////////////faqList.jsp 영역 끝///////////////////////*/











