@charset "UTF-8";


#joinArea {
	margin: 20px auto;
	text-align: center;
}

#joinArea > div.joinRow>input {
	padding: 10px;
	height: 10%;
	width: 20%;
}

#joinArea > div.joinRow>input#uZipcode {
	width: 10%;
}

#joinArea > div.joinRow>button#zipChk {
	padding: 10px;
	height: 10%;
	margin: 0 0 4px 2px;
}

.joinRow span.joinTitle {
	padding: 5px;
	font-weight: bold;
	width: 20%;
	text-align-last: left;
	display: inline-block;
}

.joinRow:last-child > button {
	margin: 15px 0;
	padding: 10px;
	height: 8%;
	width: 10%;
}
#termsArea{
	padding-top: 50px;
}

/* 회원가입 영역 끝 */

/* 로그인 영역 시작 */

div#loginArea {
	margin: 0 auto 20px;
	justify-content: center;
}

#loginArea > div#idPwArea input {
	padding: 10px;
	height: 10%;
	margin: 5px;
}

#loginArea > div#loginBtnArea button {
	padding: 10px;
	height: 90%;
	margin: 5px;
}
.login-desc{
	width: 500px;
	margin: 0 auto;	
}
#utilArea {
	text-align: center;
}
.login-desc #utilArea li{
	position: relative;
	display: inline-block;
}
.login-desc #utilArea li:not(:last-child){
	padding-right: 20px;	
	margin-right: 20px;
}
.login-desc #utilArea li:not(:last-child)::after{
	content:"";
	display: block;
	position: absolute;
	top: 6px;
	right: 0;
	width: 1px;
	height: 15px;
	background: #222;
}



/* 로그인 영역 끝 */
