@charset "UTF-8";

/* 관리자 페이지 CSS 시작 */

/* 메인 */
div.adminMain-cont {
	display: flex;
	justify-content: center;
}

.adminMain-cont .adminMainTab {
	width: 15%;
	margin: 15px;
	border: 1px solid red;
}

.adminMain-cont .adminMainTab .adminMainTabTitle {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 10px;
}

.adminMain-cont .adminMainTab .adminSubTab {
	border: 1px solid #000;
	height: 100%;
	padding: 10px;
}

.adminMain-cont .adminMainTab .adminSubTab ul li {
	margin: 15px 0;
}

.managerPage .manager-cont .manager-tit p .sub-tit {
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

.managerPage .manager-cont .manager-tit p .sub-tit::before {
	content: "> ";
}

.adminMain-cont .adminMainTab .adminSubTab ul li::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -5px;
	left: -3px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background-color: #666;
}
/* 메인 */

/* LNB메뉴, 공통 */
aside.managerAside {
	border: 1px solid red;
	width: 220px;
	padding: 10px;
}

.managerAside .managerMenu {
	margin: 20px 5px;
}

.managerAside .managerMenu > a {
	font-size: 22px;
}

.managerAside .managerMenu ul li {
	margin: 10px;
}

.managerAside .managerMenu ul li::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -5px;
	left: -3px;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background-color: #666;
}

div.managerPage .manager-cont {
	position: relative;
	padding: 10px;
	width: 100%;
}

div.managerPage .manager-tit {
	margin-bottom: 50px;
}

div.managerPage .manager-tit p {
	font-size: 28px;
	font-weight: bold;
}

/* LNB메뉴, 공통 */

/* 관리자 페이지 CSS 끝 */