@charset "UTF-8";

/* 관리자 페이지 CSS 시작 */

/* 회원관리메뉴 */
.managerPage .manager-cont .manager-inner {
	height: 100%;
}

.managerPage .manager-cont .manager-inner table.memberTable {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.managerPage .manager-cont .manager-inner table.memberTable th {
	font-size: 14px;
	font-weight: normal;
	padding: 5px 10px;
	background: #333;
	border: none;
	color: #fff;
}

.managerPage .manager-cont .manager-inner table.memberTable td {
	padding: 5px;
	word-break:break-all;
}

.managerPage .manager-cont .manager-inner table.memberTable tr {
	height: 70px;
	border-bottom: 1px solid #ddd;
}

.managerPage .manager-cont .manager-inner table.memberTable tr:hover {
	background: #e1e1e1;
}

.managerPage .manager-cont .manager-inner table.memberTable td.uAddr {
	text-align-last: left;
}

.managerPage .manager-cont .manager-inner table.memberTable td.btn-cont {
	display: table-cell;
}

.managerPage .manager-cont .memberListFooter {
	padding: 5px 10px;
}

.managerPage .manager-cont .memberListFooter .memberListPaging {
	width: 50%;
	text-align: center;
	justify-content: center;
	position: relative;
    bottom: 145px;
    left: 21%;
}

.managerPage .manager-cont .memberListFooter .memberListPaging div {
	justify-content: center;
	padding: 0 5px;
	width: 15%;
}

.managerPage .manager-cont .memberListFooter .memberListPaging > a {
	padding: 4px;
}

.managerPage .manager-cont .memberListFooter .memberListSearch {
	position: absolute;
	top: 54px;
	right: 12px;
}

.managerPage .manager-cont .memberListFooter .memberListSearch input ,
.managerPage .manager-cont .memberListFooter .memberListSearch select {
	padding: 4px;
	height: 100%;
}

.managerPage .manager-cont .memberListFooter .memberListSearch button {
	color: #fff;
	background: #333;
	border: none;
	padding: 5px 10px;
}

.managerPage .manager-cont .memberListFooter .memberListSearch button:hover {
	font-weight: bold;
	background: #0086b8;
}

/* 회원관리메뉴 */

/* 상품관리메뉴 */

.managerPage .manager-cont .manager-inner .memberTable .adminPTitle {
	text-align-last: left;
}

.managerPage .manager-cont .manager-inner .memberTable .adminPImg {
	height: 70px;
}

.managerPage .manager-cont .manager-inner .memberTable .adminPImg img {
	height: 100%;
}

.managerPage .manager-cont .manager-inner .memberTable .joinWaitSelect {
	padding: 3px 5px;
	margin-right: 5px;
}

/* 상품관리메뉴 */

/* 관리자 페이지 CSS 끝 */